/**
.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: transparent !important;
}

**/

.gist td {
    border-bottom: 0px !important;
    background-color: transparent !important;
}


.gist tr {
    background-color: transparent !important;
}